
.primary-nav {
  padding-top: 10px;

  @mixin atMedium {
    padding-top: 0;
  }
  &--pull-right {


    @mixin atMedium {
        float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;

  }

  li {
    list-style: none;
    display: inline-block;
    padding-right: 7px;

    @mixin atMedium {
        padding-right: 20px;
        float: left;
        display: block;
    }
  }

  li:last-child {
    padding-right: 0;
    @mixin atMedium {
      padding-right: 20px;
    }
  }

  a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 8px 8px;
    font-size: 1rem;
    background-color: rgba(47,85,114, .6);

    @mixin atMedium {
      padding: 12px 0;
      font-size: 1.3rem;
      background-color: transparent;
      /*stickyHeader*/
      &.is-current-link {
        color: #fabb69;
      }
    }
  }
}
